100.1547

In [17]:
Name ='Kazi' #Assigning String Variable

In [56]:
Age=28 #assigning variable

In [15]:
Name   #Printing varibale without using Print

'Kazi Jamsad'

In [16]:
Age #Printing varibale without using Print

28

In [18]:
Name

'Kazi'

In [19]:
print(Name)

Kazi

In [21]:
print(Age)

28

In [23]:
print(type(Age)) #printing type of age variable

<class 'int'>

In [24]:
type(Name)

str

In [25]:
num1=47 #assigning num1 and num2
num2=9

In [34]:
num1%num2  # We have used +,_,*,/,**,//,%

2

In [35]:
100000000000**10 # 1 Trillion*power10

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [36]:
amount=100000   #assigning varibale 
Interest_rate=.12
Years=7

In [40]:
Final_Amount=amount*Interest_rate*Years

In [41]:
print(Final_Amount)

784000.0000000001

In [49]:
final_amount=amount+(amount*Interest_rate*Years)

In [50]:
print(final_amount)

884000.0000000001

In [47]:
Interst=(amount*Interest_rate)/100

In [48]:
print(Interst)

1120.0000000000002

In [55]:
Height=1.73
Weight=87
BMI=Weight/(Height)**2

In [54]:
print(BMI)

29.06879615089044

In [59]:
a="Dhaka"
b="Cumilla"

In [60]:
a+b

'DhakaCumilla'

In [62]:
c="100"

In [63]:
c*10

'100100100100100100100100100100'

In [64]:
new_c=int(c)

In [65]:
new_c

100

In [66]:
d=100

In [67]:
new_d=float(d)

In [68]:
new_d

100.0

In [69]:
old_d=int(new_d)

In [70]:
type(old_d)

int

In [71]:
old_d

100

In [72]:
e=120

In [73]:
type(e)

int

In [74]:
new_e=str(e)

In [75]:
new_e

'120'